body{
	font-family: Verdana, Arial;
	margin:0px;
}

#navbar{
	position:relative;
	width:100%;
	margin:0px;
	background-color: gray;
	padding:10px;
}

#searchbar{
	font-size:14px;
}

/*Divs for groups when searching*/

.group-search{
	display : block;
}
.group-details{
	background-color: #d6d6c2;
	float:left;
	padding:20px;
	height: 200px;
	width: 200px;
	text-align:center;
	margin: 30px;

}

.group-details a{
	font-size:16px;
	font-weight: bold;
	text-decoration: none;
}

.group-details img{
	width:80px;
	height:80px;
	background-color: black;
}

/* Class Page */
.class-page{
	
}

.class-page #author{
	text-align:right;
}

ul #lessons{
	margin:1%;
}
ul #lessons li div{
	padding-top:10px;
	padding-bottom: 10px;
	display:block;
	width:200px;
	font-family:Verdana;
	font-size:14px;
	background-color:#75c1d6;
	border:1px solid white;
} 
ul #lessons li div:hover{
	background-color:#236476;
}
