body{
	font-family: Verdana, Arial;
	margin:0px;
}

#navbar{
	position:relative;
	width:100%;
	margin:0px;
	background-color: gray;
	padding:10px;
}

#searchbar{
	font-size:14px;
}

/*Divs for groups when searching*/

.group-search{
	display : block
}
.group-details{
	border:1px solid black;
	float:left;
	padding:20px;
	height: 200px;
	width: 100px;
	text-align:center;
	margin: 30px;

}

.group-details a{
	font-size:20px;
}

.group-details img{
	width:80px;
	height:80px;
	background-color: black;
}

/* Class Page */
.class-page{
	
}
