body{
	font-family: Verdana, Arial;
	color: #2C2C2C;
	margin:0px;
	background-image: url(http://www.channelnomics.com/IMG/639/287639/connectivity-global-network.jpg);
	background-size:100% 100%;
}
#loginUsername span{
	color:white;
}

#navbar{
	width:100%;
	padding-top:80px;
	padding-bottom:80px;
	background-color: #525252;
	margin: auto;
	margin-top: 60px;
	margin-bottom:30px;
    width: 100%;
	font: 20px;
}

#searchbar{
	padding:0px;
	font-size:18px;
	font-family: Verdana;
}

#navigation{
	width: 50%;
	margin: auto;
	padding: 0px;
	padding-left: 90px;
}

/*Divs for groups when searching*/

.group-search{
	display : block;
}
.group-details{
	background-color:#ccc;
	float:left;
	padding:20px;
	height: 200px;
	width: 200px;
	text-align:center;
	margin: 30px;

}

.group-details a{
	font-size:16px;
	font-weight: bold;
	text-decoration: none;
}

.group-details img{
	width:80px;
	height:80px;
	background-color: black;
}

#signUpForm {
	background-color:white;
	padding:20px 50px 500px 50px;
	width:92%;
	margin-left:4%;
	margin-right:4%;
}
/* Class Page */
.class-page{
	background-color:white;
	padding:20px 50px 500px 50px;
	width:92%;
	margin-left:4%;
	margin-right:4%;
}

.class-page #author{
	font-family:Verdana;
	font-size:16px;
}

.class-page ul{
	list-style: none;
}

.class-page ul #lessons{
}

.class-page ul #lessons li a div{
	padding-top:10px;
	margin-bottom: 2px;
	padding-bottom: 10px;
	display: block;
	width: 400px;
	font-family: Arial, sans-serif;
	color:black;
	font-weight:bold;
	font-size:14px;
	background-color:#75c1d6;
} 
.class-page ul #lessons li a div:hover{
	background-color:#236476;
	color:white;
}
