<!-- Template for a class page per group -->

<div ng-controller="ClassController" class="class-page">
	<h1>{{currentClass.title}}</h1>
	<p id="author">Teacher: {{teacher.profile.username}}</p>

	<!-- List of links to lessons-->
	<h2>Lessons</h2>
	<ul>
	<div id="lessons" ng-repeat="lsn in lessons track by $index">
		<li>
			<a href={{lsn.link}} target="_blank" ng-click="lesson(lsn._id)">
			<div>
			{{lsn.title}}<br/>
			{{lsn.date}}<br/>
			</div>
			</a>
		</li>
	</div>
	</ul>
	<!-- End of list of links to lessons-->
	
 	<div id="questions">
		<div ng-repeat="question in questions track by $index">
		<p>{{ question.mainSentence }}</p>
		<form>
			<input ng-model="studentanswer" type="radio" value=a> {{ question.a.sentence }}<br>
			<input ng-model="studentanswer" type="radio" value=b> {{ question.b.sentence }}<br>
			<input ng-model="studentanswer" type="radio" value=c> {{ question.c.sentence }}<br>
			<input ng-model="studentanswer" type="radio" value=d> {{ question.d.sentence }}<br>
		</form>
		<p>{{ studentanswer }}</p>
		</div>
	</div>

</div>