<!-- Template for a class page per group -->

<div ng-controller="ClassController" class="class-page">
	<h1>{{currentClass.title}}</h1>
	<p id="author">{{teacher.profile.username}}</p>

	<datetimepicker data-ng-model="data.date"></datetimepicker>

	<!-- List of links to lessons-->
	<ul>
	<div id="lessons" ng-repeat="lesson in lessons track by $index">
		<li>
			<a href={{lesson.link}}
			<div>
			{{lesson.title}}<br/>
			{{lesson.date}}<br/>
			</div>
			</a>
		</li>
	</div>
	</ul>
	<!-- End of list of links to lessons-->

</div>