<!-- Template for a class page for a teacher -->

<div ng-controller="ClassController" class="class-page">
	<h1>{{currentClass.title}}</h1>
	<p id="author">{{teacher.profile.username}}</p>

	<!-- List of links to lessons-->
	<ul>
	<div id="lessons" ng-repeat="lesson in lessons track by $index">
		<li>
			<a href={{lesson.link}} target = "blank"
			<div>
			{{lesson.title}}<br/>
			{{lesson.date}}<br/>
			</div>
			</a>
		</li>
	</div>
	</ul>
	<!-- End of list of links to lessons-->

	<!--Create a lesson-->
	<div>
		Schedule and Create a Lesson
		<p><datetimepicker data-ng-model="data.date"></datetimepicker></p>
		<p>Title: <input type="text" ng-model="lessonTitle"></p>
		<p>Link: <input type="text" ng-model="lessonLink"></p>
		<p><input type="button" value="Submit" ng-click="createLesson()"></p>
		{{lessonMsg}}
	</div>
	<!--End create lesson-->

	<new-question></new-question>
</div>